.App {
  height: 110vh;
  color: white;
  background: url(./components/images/start-Icon.jpg)
  center;
  background-size: cover ;
  display: flex;
  flex-direction: column;
  
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background:url(./components/images/Icon.jpg)
    center;
  height: 100%;
  background-size: cover;
  
}
.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
}
.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 65px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}
.item {
  display: inline-block;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: auto;
}
.item.active {
  background-color: teal;
}

.money {
  background-color: #020230;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  
  
}
.money-list {
  padding: 20px;
  list-style: none;
  width: 100%;
}
.amount {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.answer.correct {
  animation: correct 3s ease forwards;
}
@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: #33d40f;
  }
}
.answer.wrong {
  animation: wrong 3s ease forwards;
}
@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: red;
  }
}
.timer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 80px;
  font-size: 30px;
  font-weight: 700;
}

.earned {
  position: relative;
  margin: auto;
  margin-top: 150px;
  color: #22074d(0, 0, 0);
  font-weight: 600;
  text-shadow:1px 1px 1px red, 2px 2px 1px red ;
  text-align: center;
  animation: blink 0.5s infinite;
}
  @keyframes blink{
    15%{opacity: 1.0;}
    20.1% {opacity: 0.0;}
    39% {opacity: 1.0;}
       }

.withraw-btn{
  margin-left: 450px;
  margin-top: 20px;
  background-color:#45f3ff;
  border: none;
  color: #1c1c1c;
  padding: 10px 27px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.Replay-btn{
  margin-left: 260px;
}

 p{
  padding: 20px -5px;
  font-size: 1em;
  font-family: "poppins",sans-serif;
  font-size: 15px;
}

.box{
  position: relative;
  width: 390px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  margin: auto;
  padding: 15px;
  alignContent: center;
  overflow: hidden;
}

.box::before{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
.form{
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: hsl(228, 6%, 17%);
  z-index: 10;
  padding: 50px 40px;
}

.form-control{
  padding: 20px 20px;
  margin-top: 20px;
}

h2{
  color: #45f3ff;
  font-weight: 500;
  text-align: centre;
  letter-spacing: 0.1em;
  margin-right: 50px;
}

.connection{
  text-align: center;
}

.mt-2{
  margin-top: 20px;
}

.connect-btn{
  background-color:#45f3ff;
  border: none;
  color: #1c1c1c;
  padding: 10px 27px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.start-btn{
  background-color:#45f3ff;
  width: 100%;
  border: none;
  color: #1c1c1c;
  padding: 10px 27px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  }

.oraXLogo{
  width: 150px;
  height:150px;
  margin-left: 50px;
  margin-top:-30px;
}

.walletLogo{
  width: 45px;
  height: 30px;
}